@import url('https://fonts.googleapis.com/css2?family=Anton&family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

header{
    background-color: royalblue;
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header ul li {
    margin-left: 2rem;
}

header ul a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

main {
    margin: 1rem;
}

main section {
    max-width: 1000px;
    margin: 0 auto;
}

main h2 {
    text-align: center;
}

.mensagem {
    background-color: rgba(219, 228, 255, 0.774);
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.mensagem .conteudo{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 15rem;
    margin-right: 2rem;
}

.mensagem .autor{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 5rem;
}

.mensagem img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
}

footer {
    background-color: royalblue;
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}