body{
    margin: 0;
    font-family: 'sans';
}

.tema{
    background-color: #333;
    color: white;
    padding: 1rem;
}

a{
    text-transform: uppercase;
    color: white;
}

h1{
    text-transform: uppercase;
}

h2{
    border-bottom: 1px solid red;
}

ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

main{
    line-height: 1.5rem;
}

section{
    margin: 2rem;
    text-align: justify;
    padding: 0.5rem;
    border: 5px solid black;
}