html{
    --cor-principal: red;
    --cor-secundario: rgb(78, 78, 78);
}

body{
    counter-reset: section;
}

input:checked{
    width: 40px;
    height: 40px;
}

input:out-of-range{
    background-color: var(--cor-principal, blue);
}

div{
    background-color: blue;
    height: 40px;
    width: 100px;
    margin: 1rem;
}

/*
div:hover{
    background-color:rgb(78, 78, 78) !important;
    width: 300px;
    transition-property: all;
    transition-delay: 0s;
    transition-duration: 5s;
}
*/

/*
div:hover{
    animation-name: esticar;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

*/

.especial{
    animation-name: esticar;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

section div:nth-child(2n + 1){
    background-color: chartreuse;
    border: 2px solid black;
}

section div::after{
    counter-increment: section;
    content: 'posicao' counter(section);
}

@keyframes esticar{
    0%{
        background-color:rgb(78, 78, 78);
        width: 100px;
    }
    30%{
        background-color:rgb(213, 216, 74);
        width: 200px;
    }
    60%{
        background-color:rgb(165, 54, 54);
        width: 150px;
    }
    100%{
        background-color:rgb(37, 172, 25) ;
        width: 300px;
    }
}