div{ /* block */
    background-color: chartreuse;
}

span{ /* inline */
    background-color: blue;
    margin: 2rem;
}

.lorem{
    height: 100px;
    width: 100px;
    overflow: hidden;
}

#principal{
    background-image: url('https://conteudo.imguol.com.br/c/entretenimento/4d/2021/08/10/gta-san-andreas-1628603742035_v2_450x337.jpg');
    background-size: contain;
    background-repeat: no-repeat    ;
    background-color: blueviolet;
    height: 300px;
    width: 300px;
}

#secundaria{
    background-color: green;
    width: 80%;
    height: 10%;
}

#estadio{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
    filter: invert(100%);
    box-shadow: 5px 5px 10px grey; 
}

hr{
    width: 10px;
    border: 2px solid rgb(190, 190, 27);
}
