section {
    height: 400px;
    width: 400px;
    background-color: aquamarine;
    position: relative;
    left: 50px;
}

div{
    background-color: blanchedalmond;
    position: absolute;
    right: 200px;
}