@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,400&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}

label{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

input{
    display: block;
    border: 0;
    background-color: rgba(166, 223, 152, 0.5);
    border-bottom: 1px solid black;
    width: 100%;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

input[type=submit]{
    background-color: green;
    padding: 1rem;
    color: white;
}