
body{
    margin: 0;
    font-family: 'sans';
}

p{
    color: red;
    text-indent: 1cm;
    margin: 0;
    margin-left: 25px;
    margin-bottom: 10px;
}

.destaque{
    background-color: darkgrey !important;
}

#primeiroParagrafo{
    background-color: white;
    border: 2px dotted yellow;
    margin: 50px; 
    padding: 25px;
}

h1{
    color: green;
    border: 1px solid black;
    border-radius: 3px;
}

#video{
    background-color: darkmagenta;
    display: block;
    margin: 0 auto;
    width: 560px;
}