body{
    margin: 0 auto;
    font-family: 'sans-serif';
}

img{
    max-width: 300px;
    border-radius: 50%;
}

section{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.alinhamento {
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;
}

.descricao{
    margin: 2rem;
}

.descricao div{
    padding: 1.5em;
    flex-basis: 400px;
    flex-grow: 1;
    background-color: rgb(200, 255, 237);
    justify-content: space-around;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    box-shadow: 10px 10px rgba(128, 128, 128, 0.178);
}

.descricao div:hover{
    transform: translateX(-5px);
    transform: translateY(-5px);
    box-shadow: 15px 15px rgba(128, 128, 128, 0.075);
    background-color: rgb(180, 235, 217);
}

h2{
    text-align: center;
    color: green;
}

h3{
    text-align: center;
}

.alinhamento p {
    text-align: center;
}